@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue:  hsl(214, 17%, 51%);
    --light-grayish-blue:     hsl(210, 46%, 95%);
    --grayish-blue:           hsl(212, 23%, 69%);
    --white:                  hsl(0, 0%, 100%);

    --fs-13: 13px;

    --fs-12: 12px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--light-grayish-blue);
}

a {
    text-decoration: none;
    /* color: var(--white); */
}

.container {
    width: 100%;
    background-color: var(--white);
    border-radius: 10px 10px 10px 10px;
}

.img-header {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.content {
    padding: 30px 40px 10px 40px
}

.title-content {
    color: var(--very-dark-grayish-blue);
    margin-bottom: 12px;
    line-height: 1.4;
    font-weight: 700;
    font-size: 16px;
}

.text-content {
    font-size: 12px;
    color: var(--desaturated-dark-blue);
    margin-bottom: 12px;
    line-height: 1.4;
}

.content-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-footer { position: relative; }

.author {
    display: flex;
    align-items: center;
}

.avt-author {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.name {
    color: var(--very-dark-grayish-blue);
    font-size: var(--fs-12);
}

.dob {
    color: var(--grayish-blue);
    font-size: var(--fs-12);
}

.share { 
    position: static;
    z-index: 1;
}

.share-button {
    background-color: var(--light-grayish-blue);
    padding: 6px;
    border-radius: 20px;
    font-size: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.25s ease;
}

 .share-button:hover, .share-button.active {
    background-color: var(--white);
}

.share-option {
    --scale: 1;
    --translateX: 0;
    --translateY: 100%;
    position: absolute;
    background-color: var(--very-dark-grayish-blue);
    transform: translate(var(--translateX), var(--translateY)) scale(var(--scale));
    inset: -10px -40px;
    padding:  0px 50px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    gap: 20px;
    align-items: center; 
    visibility: hidden;
    z-index: -1;
    transition: all 0.25s ease;

}

.share-option.active {
    visibility: visible;
    --translateY: 0;
}

.share-option span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--grayish-blue);
    margin-right: 5px;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 285px minmax(300px, 445px);
        max-width: 740px;
        box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.02),
                25px 25px 20px hsla(0, 0%, 0%, 0.03),
                100px 100px 80px hsla(0, 0%, 0%, 0.05);
    }

    .img-header {
        border-radius: 10px 0px 0px 10px;
        object-fit: cover;
        object-position: left;
    }

    .content {
        padding: 30px 40px 20px 40px;
    }

    .title-content {
        font-size: 20px;
    }

    .text-content {
        font-size: var(--fs-13);
    }

    .avt-author {
        width: 40px;
        height: 40px;
    }

    .name {
        font-size: var(--fs-13);
    }
    
    .dob {
        font-size: var(--fs-13);
    }

    .share-button:hover, .share-button.active {
        background-color: var(--grayish-blue);
    }

    .share-option {
        --scale: 0.5;
        background-color: var(--very-dark-grayish-blue);
        padding-right: 10px;
        padding-left: 50px;
        max-width: 80%;
        transform: translateX(84%) translateY(-100%);
        border-radius: 10px;
        gap: 20px;
        box-shadow: 0 5px 20px -5px #0003;
        transition: all 0.10s ease;
    }
    .share-option::after {
        content: '';
        background: var(--very-dark-grayish-blue);
        width: 20px;
        height: 20px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -60%) rotate(45deg);
    }

    .share-option a {
        font-size: 14px;
    }
}

@media (max-width:767px) {
    body{
        padding: 100px;
    }
}

@media (max-width: 531px) {
    body {
        padding: 20px;
    }
}

@media (max-width: 350px) {
    body {
        padding: 0px;
    }
    .share-button span {
        font-size: 12px;
    }
}